<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Addd a new item to @Model.GetName()</h1>

    <form action="/categories/@Model.GetId()/items" method="post">
      <input id="categoryId" type="hidden" name="categoryId" value="@Model.GetId()">
      <label for="itemDescription">Add a new item</label>
      <input id="itemDescription" type="text" name="itemDescription">
      <button type="submit" >Add item</button>
    </form>

  </body>
</html>
