<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Add a new item to our @Model.GetName() list</h1>

    <form action="/categories/{categoryId}/items" method="post">
      <input id="categoryId" type="hidden" name="categoryId" value="@Model.GetId()">
      <label for="itemDescription">Add a new item</label>
      <input id="itemDescription" type="text" name="itemDescription">
      <label for="dueDate">Add a due date:</label>
      <input type="date" name="dueDate" id="dueDate">
      <button type="submit">Add item</button>
    </form>
<p><a href="/">Back Home</a></p>
<p><a href="/items">View all items</a></p>
  </body>
</html>
