<h1>Add a category</h1>
<p>Add a category here</p>

<form action="/categories" method="post">
  <label for="categoryName">Category Name</label>
  <input type="text" name="categoryName" id="categoryName">
  <button type="submit">Add</button>
</form>

<p> <a href="/">Back Home</a> </p>
<p> <a href="/categories">Back to categories.</a> </p>
